*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(236, 233, 185);
}


/* HEADER */
header{
    display: block;
    width: 100%;
    height:100px ;
    background-color:#6e524a;
    text-align: center;
}
#logo{
    width: 200px;
    position: absolute;
    margin-top: -20px;
    margin-left: -600px;
}
header ul{
display: flex;
gap: 20px;
justify-content: center;
}
header ul li{
    list-style: none;
    margin-top: 35px;
}
header ul li a{
    text-decoration: none;
    color: #e9e6c7;
    letter-spacing: 2PX;
    font-weight: bold;
    
}

header #carrinhobtn{
    width: 30px;
    height: 30px;
    margin-left: 1000px;
    margin-top: 30px;
    position: absolute;
    filter: invert(1);
    cursor: pointer;
}


/*CART*/
#cart{
    width: 360px;
    height: 100%;
    right: 0;
    top: 0;
    position: fixed;
    padding: 10px;
    background-color: white;
    display: none ;
    box-shadow: 10px 10px 10px 6px;
}
#cart h2{
    margin: 0;
}
#cart #botãoCompra{
    width:100px ;
    height: 30px;
    background-color: red;
    margin-top: 530px;
    border:none;
    cursor: pointer;
    color:white;
}
#cart #botãoCompra:hover{
    border: 2px solid black;
}
#fecharCart{
    width: 20px;
    background-color: red;
    border: none;
    height: 20px;
    margin-left: 300px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
#cart #fecharCart:hover{
    border: 1px solid black;
}


/* MAIN */
main{
    display:flex;
    width: 100%;
    background-color: rgb(236, 233, 185);
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    
}
main div{
    width:30%;
    margin-left: 10px;
    text-align: center;
    background-color: #eef5d6;
    border-radius: 10px;
    height: 500px;  
}

main div img{
    width: 250px;
    margin-bottom: 15px;
    margin-top: 40px;
}
main div h1{
    font-size: 24px;
}
main div button{
    border: none;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 200px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 18px;
    background: linear-gradient(135deg, #ffb347, #ff9800);
}
main button:hover{
    border: 2px solid black;
    cursor: pointer;
}


/* FOOTER */
footer{
    display: block;
    width: 100%;
    height:80px ;
    background-color:#6e524a;
    margin-top: 70px;
    text-align: center;
}
footer p{
    color: white;
    font-weight: bold;
    padding: 30px; 
    font-size: 14px;
}