*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
header{
    display: block;
    float: left;
    width: 100%;
    height:100px ;
    background-color:#6e524a;
    text-align: center;
}
#logo{
    width: 200px;
    position: absolute;
    margin-top: -20px;
    margin-left: -840px;
}
header ul{
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;

}
header ul li{
    list-style: none;
    margin-top: 35px;
}
header ul li a{
    text-decoration: none;
    color: #e9e6c7;
    letter-spacing: 2PX;
    font-weight: bold;
    
}
header #carrinhobtn{
    width: 30px;
    height: 30px;
    margin-left: 580px;
    margin-top: 30px;
    position: absolute;
    color: white;
}
main{
    display:flex;
    float: left;
    width: 100%;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    height: 1200px;
}
main div{
    width:30%;
    margin-left: 10px;
    text-align: center;
    background-color: #eef5d6;
    width: 450px;
    border-radius: 10px;
    height: 500px;
}

main div img{
    width: 250px;
    margin-bottom: 15px;
    margin-top: 40px;
}
main div h1{
    font-size: 24px;
}
main div button{
    border: none;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 200px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 18px;
    background: linear-gradient(135deg, #ffb347, #ff9800);
}
main button:hover{
    background-color: rgb(204, 133, 1);
}
footer{
    display: block;
    float: left;
    width: 100%;
    height:200px ;
    background-color:#6e524a;
}